<style>
div.catalog_left {
	margin-left:10px;
	padding-left:5px;
}

div.catalog_left:hover {
	margin-left:0px;
	border-left:10px solid #428BCA;
}
</style>

<link rel="stylesheet" type="text/css" href="./main.css" />

<div class="row">
	<div class="span12" style='margin-top:10px'>
		
		<div id='tusc_container_wrapper'></div>
		
		<div style='border-bottom:1px solid black;padding-bottom:2px'>
		<div id='loading' style='z-index:5;display:none;color:white;background-color:red;float:right;padding-left:2px'><i>Loading...</i><br/><span id='loaded'></span></div>
		<a href='#' onclick='showCatalogs();return false'>Catalogs</a> | 
		<a href='#' onclick='showRecentChanges();return false'>Recent Changes</a> |
		<a href='#' onclick='showDisambig();return false'>Disambiguation links</a> |
		<a href='#' onclick='showSameNames();return false'>Same name</a> |
		<a href='#' onclick='showCreationCandidates();return false'>Creation candidates</a> |
		<a href='#' onclick='showSearch();return false'>Search</a> |
		<a href='' id='permalink'><i>Permalink</i></a>
		</div>
<!--		
		<form class="well form-inline" id='theform'>

			<formset>
				<table class='table table-condensed'>
					<tr>
						<th class='span5'>Flickr user ID or name,</th>
						<td><input type='text' class='span6' id='user_id' rel='tooltip' title='Insert the user NSID (the one with "@", preferred) or user name here' /></td>
					</tr>
					<tr>
						<th class='span5'>OR Flickr photoset ID</th>
						<td><input type='text' class='span6' id='photoset_id' rel='tooltip' title='Insert the numeric set ID ("/in/set-######/") here. Only used when no user ID or name is entered.' /></td>
					</tr>
					<tr>
						<th class='span5'>OR single Flickr photo ID</th>
						<td><input type='text' class='span6' id='photo_id' rel='tooltip' title='Insert the numeric Flickr photo ID here. Only used when no user ID/name or photoset is entered.' /></td>
					</tr>
					<tr>
						<th class='span5'>Max pictures</th>
						<td><input type='text' class='span6' id='max_pics' rel='tooltip' title='Gets only the first N pictures from Flickr. Leave blank for "unlimited".' />
						</td>
					</tr>
				</table>
			</formset>
			
			<div style='text-align:right'>
				<button id='b_run' class='btn-primary' onclick='runTool();return false'><i class='icon-play icon-white'></i> Run</button>
			</div>

		</form>
-->
	</div>
<!--	<div class="span3">
		<h3>Examples</h3>
		<div class='well'>
			<ul class='nav'>
				<li><a href='#' onclick='showExample("Computational Biology");return false'>Computational Biology</a></li>
				<li><a href='#' onclick='showExample("spaceflight");return false'>Spaceflight</a></li>
			</ul>
		</div>
	</div>-->
</div>


<div class="row" id='result_container'>
	<form style='display:inline'>
		<div class="span12" id='results' style='display:none'></div>
	</form>
	<div class="span12" id='results2' style='display:none;margin-top:20px;'></div>
</div>


<style>
span.noq   { font-weight:bold; padding-left:5px; border-left:5px solid red; }
span.autoq { font-weight:bold; padding-left:5px; border-left:5px solid #A27AFE; }
span.userq { font-weight:bold; padding-left:5px; border-left:5px solid green; }
.user_match { font-size:8pt; }
input.set_q { font-size:8pt; display:inline; }

a.green { color:green; }
a.red { color:red; }
a.yellow { color:#DFDF00; }

a.wiki { color:#62A9FF }
a.wikidata { color:#2966B8 }
a.external { color:#1FCB4A }

.qdesc {
	font-size:9pt !important;
}

tr.col1 td { background-color:#EEEEEE; }
tr.col2 td { background-color:none; }

td.numbers { text-align:right; font-family:courier; font-size:9pt;}
th.numbers { text-align:right; }

td.catalog_row_left {
	width:100%;
}

.catalog_no_prop {
	border-left:1px solid #FF8A8A;
}
</style>